html {
  background-color: rgba(170, 218, 170, 0.712);
}
* {
  border: 1px solid black;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color:rgb(51, 16, 16);
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  font-size: 20px;
}

img {
  width: 60%;
  margin: 0 auto;
  border-radius: 12px;
  min-width: 100px;
  max-width: 500px;
  display: block;
}

.index-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.index-list-item {
  padding: 6px 0;
  list-style-type: none; 
}

.index-list-item a {
  padding: 6px;
  text-decoration: none;
  font-size: 18px;
}

.center-text {
  text-align: center;
  display: block;
  padding: 12px;
}

.button {
  border: 1px solid black;
  border-radius: 12px;
  background-color: darkslategray;
  color: whitesmoke;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  background-color: rgba(138, 36, 36, 0.753);
  transition-duration: 0.4s;
}

a:hover {
  background-color: rgba(138, 36, 36, 0.753);
}
